h1 Pastie, the secure internal paste bin.
p Pastie  is a paste bin like gist.github.com.
p However, Pastie runs on <b><i><u>your</u></i></b> network, so <b><i><u>you</u></i></b> control its visibility to the public Internet.
p
  a(href="https://github.com/jhuttner/pastie") https://github.com/jhuttner/pastie

h2 install
p 
  span(class="instruction") Clone
  span git clone git://github.com/jhuttner/pastie.git ; cd pastie

p 
  span(class="instruction") Edit the config
  span vim config.json

p 
  span(class="instruction") $PATH
  span ln -s pastie ~/bin/pastie

p 
  span(class="instruction") Run the server
  span node node_app/app.js

h2 usage

p $ cat sensitive.txt | pastie 
p http://your-server.com/pastie/1xa82

p $ cat file.txt | pastie -d/--description "My description for this file."

p $ cat expires_in_one_day.txt | pastie -x/--expires 1d 

p $ cat a_bit_more_sensitive.txt | pastie -p/--private

h2 users

ol
each item, index in leaderboard
  span #{item}
  =(index !== leaderboard.length - 1 ? ", " : ".")

h2 recent (without --private flag)
each item in public_pasties
  p.pastie #{item.author} 
    span(style="display: inline-block; min-width: 4em")
    - if (item.extension)
      a(href="#{host}/pastie/#{item.id}#{item.extension}") #{item.id}
    - else
      a(href="#{host}/pastie/#{item.id}") #{item.id}
    - if (item.description)
      =" " + item.description
