h1 Pastie - the paste bin that runs on your network.
p Pastie is a paste bin, similar to gist.github.com.
p However, Pastie runs on <b><u>your</u></b> network, so <b><u>you</u></b> control its visibility to the public Internet.
p
p Pastie was created at AppNexus, and we run it in private IP space, so only users on our VPN can access it.
p Employees use Pastie to share non-sensitive data with each other, such as code snippets and small diffs.
p Pastie is open-source and available on GitHub: 
  a(href="https://github.com/jhuttner/pastie") https://github.com/jhuttner/pastie

h2 notice
p Pastie <b><u>should not</u></b> be used for sharing actual sensitive data like passwords or keys, nor should it be used programmatically by production services.  Pastie is not Redis.
p

h2 usage

p 
  span(style="display: inline-block; min-width: 250px")$ cat snippet | pastie
  span # Create a pastie!
p http://your-pastie-server.com/pastie/cafcre
br

p 
  span(style="display: inline-block; min-width: 250px")$ cat snippet | pastie -p
  span # A link to this pastie will appear in the <b><u>recent public pasties</u></b> section below
p 
  span(style="display: inline-block; min-width: 250px")$ cat snippet | pastie -x 1
  span # Auto-delete this pastie after 1 day

p 
  span(style="display: inline-block; min-width: 250px")$ pastie -d `pastie_id`
  span # Delete the pastie with ID `pastie_id`


h2 users
each user,index in pastie_users_sorted
  - if (index === pastie_users_sorted.length - 1)
    span #{user} (#{pastie_users[user]})
  - else
    span #{user} (#{pastie_users[user]}), 

h2 recent public pasties
each item in public_pasties
  p.pastie 
  span(style="display: inline-block; min-width: 100px") #{item.author} 
  span
  - if (item.extension)
    a(href="#{host}/pastie/#{item.id}#{item.extension}") #{item.id}
  - else
    a(href="#{host}/pastie/#{item.id}") #{item.id}
  - if (item.description)
    =" " + item.description
