h1 Pastie - the paste bin that runs on your network.
p Pastie is a paste bin, similar to gist.github.com.
p However, Pastie runs on <b><u>your</u></b> network, so <b><u>you</u></b> control its visibility to the public Internet.
p
p At AppNexus, we run Pastie in private IP space so that only our employees can access it.
p Pastie is great for sharing non-sensitive data quickly, such as code snippets, small diffs, and log output.
p Pastie is open-source and 
  a(href="https://github.com/jhuttner/pastie") available on GitHub

h2 note
p <b><u>Do not</u></b> use Pastie for sharing actual sensitive data like passwords or keys.
p <b><u>Do not</u></b> use Pastie programmatically in conjuction with production services.  Pastie is not Redis.
p

h2 usage

p
  span(style="display: inline-block; min-width: 260px")$ cat snippet | pastie
  span # Create a pastie!
p http://your-pastie-server.com/pastie/cafcre
br

p
  span(style="display: inline-block; min-width: 260px")$ cat snippet | pastie -p
  span # A link to this pastie will appear in the <b><u>recent public pasties</u></b> section below
p
  span(style="display: inline-block; min-width: 260px")$ cat snippet | pastie -x 1
  span # Auto-delete this pastie after 1 day
p
  span(style="display: inline-block; min-width: 260px")$ cat snippet | pastie -t 07_log
  span # Add a title to the pastie link
p
  span(style="display: inline-block; min-width: 260px")$ pastie -d `pastie_id`
  span # Delete the pastie with ID `pastie_id`


h2 users
each user,index in pastie_users_sorted
  - if (index === pastie_users_sorted.length - 1)
    span #{user} (#{pastie_users[user]})
  - else
    span #{user} (#{pastie_users[user]}),

h2 recent public pasties
each item in public_pasties
  p.pastie
  span(style="display: inline-block; min-width: 100px") #{item.author}
  span
  - if (item.extension)
    - if (item.title)
      a(href="/pastie/#{item.id}#{item.extension}/#{item.title}") #{item.id}/#{item.title}
    - else
      a(href="/pastie/#{item.id}#{item.extension}") #{item.id}
  - else
    - if (item.title)
      a(href="/pastie/#{item.id}/#{item.title") #{item.id}/#{item.title}
    - else
      a(href="/pastie/#{item.id}") #{item.id}
  - if (item.description)
    =" " + item.description
